<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ticket</title>
</head>

<body>
    <h1>Ticket</h1>
    <form class="form">
        <div>
            <div>
                <label>Code:</label>
                <input type="text" value={{ticketInfo.code}} name="code" readonly>
            </div>
            <div>
                <label>Purchase datetime:</label>
                <input type="text" value={{ticketInfo.purchase_datetime}} name="purchase_datetime" readonly>
            </div>
            <div>
                <label>Amount:</label>
                <input type="text" value={{ticketInfo.amount}} name="amount" readonly>
            </div>
            <div>
                <label>Purchaser:</label>
                <input type="text" value={{ticketInfo.purchaser}} name="purchaser" readonly>
            </div>
            <div class="btnCompraContainer info">
                <input type="submit" value="Realizar compra">
            </div>
        </div>
    </form>
    <script src="/js/ticket.js"></script>

</body>

</html>